<h1>Login Form</h1>

<form method="post" action="/auth">

  <p><label>ID<input type="text" name="id" value=""></label></p>
  <p><label>Password<input type="password" name="password" value=""></label></p>

  <p><input type="submit" value="送信"></p>
</form>
